<% page_title "Tổng quan" %>

<% if @no_period %>
  <%= render "no_period" %>
<% else %>
  <% if @period.open? && (current_user.unit_admin? || current_user.system_admin?) %>
    <%= render "shared/open_period_banner", period: @period %>
  <% end %>

  <%= render "warnings", warnings: @summary.warnings %>

  <%= render "shared/freshness_indicator", states: @freshness_states %>

  <p class="text-sm text-gray-700 mb-4">
    Đơn giá điện: <strong><%= unit_price_to_vi(@period.unit_price) %> đ/kW</strong>
  </p>

  <% if current_user.system_wide_scope? %>
    <%= render "system_admin" %>
  <% else %>
    <%= render "unit_view" %>
  <% end %>
<% end %>
